/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --article-heading-color: #FF0070;
  --heading-color:#000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
}

.theme-dark .header__bulb::before {
  content: "REC";
  position: absolute;
  line-height: 25px;
  color: var(--main-color);
  text-align: center;
  right: 38px;
  top: 10px;
}

.theme-dark .header__bulb::after {
  content: "";
  position: absolute;
  right: 19px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--main-color);
  box-shadow: 0px 0px 4px 2px var(--main-color);
}

.theme-auto .header__bulb::before {
  content: "REC";
  position: absolute;
  line-height: 25px;
  color: var(--main-color);
  text-align: center;
  right: 38px;
  top: 10px;
}

.theme-auto .header__bulb::after {
  content: "";
  position: absolute;
  right: 19px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--main-color);
  box-shadow: 0px 0px 4px 2px var(--main-color);
}

.theme-dark .header__theme-menu-button_type_dark {
  outline: 1px solid var(--main-color);
}

.theme-auto .header__theme-menu-button_type_auto {
  outline: 1px solid var(--main-color);
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid hsla(334, 100%, 50%, 40%);
}

.theme-auto .header__theme-menu-button:hover {
  border: 1px solid hsla(334, 100%, 50%, 40%);
}

@media ( width >= 768px) {

  .theme-dark .header__bulb::before {
    right: 49px;
    top: 20px;
  }

  .theme-dark .header__bulb::after {
    right: 29px;
    top: 27px;
  }

  .theme-auto .header__bulb::before {
    right: 49px;
    top: 20px;
  }

  .theme-auto .header__bulb::after {
    right: 29px;
    top: 27px;
  }
}