/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --article-heading-color: #FF0070;
  --heading-color:#000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --hover-color: hsla(334, 100%, 50%, 40%);
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --display: inline-block;
}