/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* mobile first and main theme is dark */
.page {
  background-image: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
}

/* HEADER */
.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 39px;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-end: 1px solid var(--main-color);
  border-block-start: 1px solid var(--main-color);
  margin-block-end: 39px;
  justify-self: end;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--main-color);
  border-block-end: 1px solid var(--main-color);
  
}

.header__bulb::before {
  content: "REC";
  position: absolute;
  right: 38px;
  top: 10px;
  line-height: 25px;
  color: var(--main-color);
  text-align: center;
}

.header__bulb::after {
  content: "";
  position: absolute;
  right: 19px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--main-color);
  box-shadow: 0px 0px 4px 2px var(--main-color);
}

.header__theme-menu {
  color: var(--main-color);
  justify-self: end;
  margin-inline-end: 5px;
  margin-block-end: 72px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--main-color);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--main-color);
  margin-block-end: 55px;
}

.title-decor {
  background-color: var(--main-color);
}

.header__epigraph {
  background-color: var(--main-color);
  line-height: 23.4px;
  font-weight: 700;
  color: var(--accent-color);
}

.header__epigraph:last-child {
  margin-block-end: 31px;
}

/* MAIN */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
}

.hero__articles {
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  margin-block-end: 51px;
}

.hero__title{
  line-height: inherit;
  font-size: inherit;
  color: var(--main-color);
  margin-block-end: 20px;
}

.hero__subtitle {
  line-height: inherit;
  font-size: inherit;
  color: var(--accent-color);
  margin-block-end: 10px;
}

.hero__subtitle-acsent {
  margin-block-end: 20px;
}

.hero__text {
  font-weight: 400;
  color: var(--text-color);
  margin-block-end: 20px;
}

.hero__text:last-child {
  margin-block-end: 0;
}

.hero__text-link {
  text-shadow: 2px 2px 0 var(--main-color);
}

.hero__text-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  /* TODO turn off underline shadow with shecodes */
}

.hero__text-link:focus   {
  outline-style: 1px solid var(--text-color);
}

.hero__subtitle-sub {
  line-height: inherit;
  font-size: inherit;
  font-weight: 400;
  color: var(--accent-color);
  margin-block-end: 10px;
}

.hero__gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 40px;
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover; 
  margin-block-end: 10px;
}

.gallery__image:last-child {
  margin-block-end: 0;
}

/* FOOTER */
.footer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.footer__title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  text-shadow: 2px 2px 0 var(--main-color);
  margin-block-end: 55px;
  padding: 285px 0;
}