/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* mobile first and main theme is dark */
.page {
  background-image: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
}

/* HEADER */
.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 39px;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-end: 1px solid var(--main-color);
  border-block-start: 1px solid var(--main-color);
  margin-block-end: 39px;
  justify-self: end;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--main-color);
  border-block-end: 1px solid var(--main-color);
  
}

.header__bulb::before {
  content: "REC";
  position: absolute;
  line-height: 25px;
  color: var(--main-color);
  text-align: center;
  right: 38px;
  top: 10px;
}

.header__bulb::after {
  content: "";
  position: absolute;
  right: 19px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--main-color);
  box-shadow: 0px 0px 4px 2px var(--main-color);
}

.header__theme-menu {
  color: var(--main-color);
  justify-self: end;
  margin-inline-end: 5px;
  margin-block-end: 72px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--main-color);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--main-color);
  margin-block-end: 55px;
}

.title-decor {
  background-color: var(--main-color);
}

.epigraph-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 31px;
}

.header__epigraph {
  background-color: var(--main-color);
  line-height: 23.4px;
  font-weight: 700;
  color: var(--accent-color);
}

/* MAIN */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
  gap: 50px;
}

.hero__articles {
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
}

.hero__title{
  line-height: inherit;
  font-size: inherit;
  color: var(--main-color);
}

/* rules for articles, 
specific will be later */
.article__title {
  line-height: inherit;
  font-size: inherit;
  color: var(--accent-color);
  margin-block-end: 10px;
}

.article__title-acsent {
  margin-block-end: 0;
}

.article__text {
  font-weight: 400;
  color: var(--text-color);
}

.article__text-link {
  text-shadow: 2px 2px 0 var(--main-color);
}

.article__text-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  /* TODO turn off underline shadow with shecodes */
}

.article__text-link:focus   {
  outline-style: 1px solid var(--text-color);
}

.article__subtitle {
  line-height: inherit;
  font-size: inherit;
  font-weight: 400;
  color: var(--accent-color);
  margin-block-end: 10px;
}

/* specific articl rules */
.hero__why {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.hero__what {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.hero__how {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* gallery rules */
.hero__gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 40px;
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover; 
  margin-block-end: 10px;
}

.gallery__image:last-child {
  margin-block-end: 0;
}

/* FOOTER */
.footer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.footer__title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  text-shadow: 2px 2px 0 var(--main-color);
  margin-block-end: 55px;
  padding: 214px 0 195px 0;
  text-align: center;
}

@media (768px <= width < 1024px){
  
  .header {
    padding: 20px;
    margin-block-end: 60px;
  }

  .header__bulb::before {
    right: 51px;
    top: 20px;
  }

  .header__bulb::after {
    right: 28px;
    top: 27px;
  }

  .decorated-zone::before {
    margin-block-end: 147px;
  }

  .header__theme-menu {
    margin-block-end: 173px;
  }

  .header__title {
    margin-block-end: 162px;
    margin-left: -22px;
  }

  .epigraph-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-block-end: 138px;
  }

  .header__epigraph {
    grid-column: 2;
  }

  .hero {
    gap: 80px;
  }

  .hero__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .hero__why-title {
    grid-column: 1;
    margin-block-end: 0;
  }

  .why-article-many{
    grid-column: 2;
    grid-row: 1;
  }

  .why-article-dof {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (1024px <= width){}