/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --article-heading-color: #FF0070;
  --heading-color:#000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --hover-color: hsla(334, 100%, 50%, 40%);
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
}